body{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: auto;
}
.header{
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background-color: pink;
}
.container-fluid{
    border: 5px solid green;
    width: 100%;
    height: 630px;
    display: flex;
}
.wrapper{
    width: 400px;
    height: 630px;
    border: 1px solid black;
    background-color: rebeccapurple;
}
.main{
    border: 1px solid black;
    height: 630px;
    flex-grow: 1;
}
.col-md-3{
    border: 10px solid black;
    height: 200px;
    width: 300px; /* Increase the width */
    padding: 10px; /* Add some padding for better visibility */
    background: green;
}   

.footer {
    height: 30px;
    position: fixed;
    bottom: 0; /* Fix the footer to the bottom */
    width: 100%; /* Make sure the footer stretches across the page */
    border: 1px solid black;
    background-color: burlywood; /* Optional background color */
}
